
*.xccheckout

*.xcuserstate


Animating.xcodeproj/project.xcworkspace/xcuserdata/houxh.xcuserdatad/UserInterfaceState.xcuserstate

Animating.xcodeproj/project.xcworkspace/xcuserdata/houxh.xcuserdatad/UserInterfaceState.xcuserstate
